#about {
	background-color: #5e95cd;
	color: #fff;
	padding: 5%;
}

#about h4 {
	font-weight: bold;
}

#about p {
	font-size: 0.8em;
	text-align: justify;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

.btn-dayoh,
.btn-dayoh:hover,
.btn-dayoh:focus,
.btn-dayoh:active,
.btn-dayoh.active {
	background-color: #e8776b;
	border: 1px solid #fff;
	color: #fff;
}

.feature-block {
	padding: 0 5%;
}

#features {
	padding: 5%;
	text-align: center;
}

#features h4 {
	font-weight: bold;
	text-align: center;
}

#features .icon-wrapper {
	padding: 10%;
}

#features i {
	border: 5px solid #eaeaea;
	border-radius: 50%;
	color: #e7776b;
	display: inline;
	font-size: 3em;
	padding: 10px 14px;
	text-align: center;
}

#features p {
	color: #aaaaaa;
	font-size: 0.9em;
}

header {
	background-size: cover;
	background: url(../img/cover.png) no-repeat;
	color: #fff;
	padding-top: 100px;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav li a:hover {
	color: #5e95cd;
}

#wells {
	background-color: #e8776b;
	color: #fff;
	padding: 2%;
}