#about {
	background-color: #5e95cd;
	color: #fff;
	padding: 5%;
}

#about h4 {
	font-weight: bold;
}

#about p {
	font-size: 0.8em;
	text-align: justify;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

.btn-dayoh,
.btn-dayoh:hover,
.btn-dayoh:focus,
.btn-dayoh:active,
.btn-dayoh.active {
	background-color: #e8776b;
	border: 1px solid #fff;
	color: #fff;
}

.feature-block {
	padding: 0 5%;
}

#features {
	padding: 5%;
	text-align: center;
}

#features h4 {
	font-weight: bold;
	text-align: center;
}

#features .icon-wrapper {
	padding: 10%;
}

#features i {
	border: 5px solid #eaeaea;
	border-radius: 50%;
	color: #e7776b;
	display: inline;
	font-size: 3em;
	padding: 10px 14px;
	text-align: center;
}

#features p {
	color: #aaaaaa;
	font-size: 0.9em;
}

header {
	background-size: cover;
	background: url(../img/cover.png) no-repeat;
	color: #fff;
	padding-top: 100px;
	width: 100%;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav li a:hover {
	color: #5e95cd;
}

#plans {
	padding: 5% 10%;
}

#plans table tbody tr td,
#plans table thead tr th {
	color: #999999;
	text-align: center;
}

#plans table thead tr th{
	background-color: #e1e1e1;
	padding: 2%;
}

#plans table tbody tr td a {
	font-size: 0.9em;
	padding: 5% 20%;
}


#plans table tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}
#plans table thead tr th:nth-child(even) {
	background-color: #e7776b;
	color: #fff;
}

.price {
	color: #e7776b;
	font-size: 1.7em;
	font-weight: bold;
	padding: 5%;
}

.sign-up-btn {
	padding: 5%;
}

#sign-up {
	background-size: cover;
	background: url(../img/cover.png) no-repeat;
	color: #fff;
	padding: 3%;
	text-align: center;
	width: 100%;
}

#sign-up h4 {
	padding-bottom: 2%;
}

#sign-up button {
	margin-left: 10px;
}

.table {
	margin-bottom: 0;
}

#wells {
	background-color: #e8776b;
	color: #fff;
	padding: 2%;
}